<footer class="footer-container">
  <div class="footer">Made with <span class="green-heart">♥</span> by <a href="https://github.com/LucasNseyep" title="LucasNseyep" class="footer-link">Howling Moon</a></div>
</footer>
