<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);">

  <div class="container">
    <h1> Welcome to <strong>BorrAPet</strong>!</h1>
    <p>If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
    <div class="btn btn-outline-success index-button"><%= link_to "View all pets", pets_path %></div>
  </div>
</div>
