<h1>Welcome to BorrAPet</h1>
<p>
If you're a busy professional or someone that loves animals but don't have your own,
BurrAPet is the platform for you!
</p>

<div class="btn btn-outline-success index-button"><%= link_to "View all pets", pets_path %></div>
