<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>); margin-top: -30px;">

  <div class="container">
    <div class="text-flex">
      <h1 class="fs-1"> Welcome to <strong>BorrAPet</strong>!</h1>
      <p class="fs-4">If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
      <div class="index-button"><%= link_to "View all pets", pets_path %></div>
    </div>
  </div>
</div>

<section class="about" id="about">
  <div class="container">
    <div class="headline">
      <h2 class="fs-1">About BorrAPet</h2>
      <p class="sub-text fs-5">We are passionate about helping animal lovers connect with all kinds of pets, including those that are no longer with us. We understand that pets are more than just animals; they are beloved members of our families. Our app provides a platform for individuals who are interested in borrowing animals from a wide range of species, including dinosaurs and many other extinct animals.</p>
    </div>
    <div class="content">
      <div class="text-container-flex">
        <div class="item">
          <div class="description">
            <h3 class="fs-2">BorrAPet is for everyone</h3>
            <p class="fs-5">Our platform connects pet owners with individuals who are interested in borrowing their beloved pets for a short period of time.</p>
          </div>
        </div>
        <div class="item">
          <div class="description">
            <h3 class="fs-2">BorrAPet's mission</h3>
            <p class="fs-5">We strive to create a safe, reliable, and fun way for people to connect with pets and their owners.</p>
          </div>
        </div>
        <div class="item">
          <div class="description">
            <h3 class="fs-2">And for every pet</h3>
            <p class="fs-5">From friendly dinosaurs to majestic mammoths, our app offers a variety of options to suit your needs and interests.</p>
          </div>
        </div>
        <div class="item">
          <div class="description">
            <h3 class="fs-2">Share your love of pets</h3>
            <p class="fs-5">We believe that sharing the love of pets can enrich lives and create meaningful connections. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="reviews" id="reviews">
  <div class="container">
    <div class="headline">
      <h2 class="text-center fs-1">BorrAPet Reviews</h2>
      <p style="color:black;" class="text-center sub-text fs-5">Discover what others are saying: read reviews from our satisfied customers!</p>
    </div>
    <div class="info">
      <div class="item">
        <div class="relative orange">
          <div class="absolute">
            <q class="quote fs-5">This shouldn't even be possible. Show us the science. Where is the science? We need the science.</q>
          </div>
        </div>
        <p class="client" style="color:black;"><span class="name">London Natural History Museum</span></p>
      </div>
      <div class="item">
        <div class="relative green">
          <div class="absolute">
            <q class="quote fs-5">I thought some of these were extinct. This is fiction at this point. Are we in the Disney universe?</q>
          </div>
        </div>
          <p class="client" style="color:black;"><span class="name">The Smithsonian Institution</span></p>
      </div>
      <div class="item">
        <div class="relative orange">
          <div class="absolute">
            <q class="quote fs-5">I've been using this pet borrowing site for over a year now and have had nothing but positive experiences.</q>
          </div>
        </div>
        <p class="client" style="color:black;"><span class="name">John Doe</span></p>
      </div>
      <div class="item">
        <div class="relative green">
          <div class="absolute">
            <q class="quote fs-5">I love BorrAPet! I've borrowed pets from cats to dinosaurs and had great experiences with each one.</q>
          </div>
        </div>
        <p class="client" style="color:black;"><span class="name">Jane Doe</span></p>
      </div>
    </div>
  </div>
</section>

<section class="subscribe" id="subscribe">
  <div class="container subscribe-flex">
    <div class="headline">
      <h2 fs-1">Create an account and have fun with one of our many pets!</h2>
      <p class="sub-text fs-5"">Why not join our BorrAPet community and embark on a journey to discover new and exciting animals? With just a few clicks, you can connect with pet owners in your area and experience the wonder of these magnificent creatures for yourself.</p>
    </div>
    <div class="index-button"><%= link_to "Create account", new_user_registration_path %></div>
  </div>
</section>



<!--
  <div class="container">
    <h1 class="fs-1"> Welcome to <strong>BorrAPet</strong>!</h1>
    <p class="fs-4">If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
    <div class="index-button"><%= link_to "View all pets", pets_path %></div>
  </div>
-->
