<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>); margin-top: -30px;">

  <div class="container">
    <div class="text-flex">
      <h1 class="fs-1"> Welcome to <strong>BorrAPet</strong>!</h1>
      <p class="fs-4">If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
      <div class="index-button"><%= link_to "View all pets", pets_path %></div>
    </div>
  </div>
</div>

  <section class="reviews" id="reviews">
    <div class="container">
      <div class="headline">
        <h2 class="text-center">BorrAPet Reviews</h2>
        <p style="color:black;" class="text-center">Curabitur consequat erat in fermentum rutrum. Phasellus consequat cursus purus. Etiam consectetur facilisis sapien, in aliquet tortor hendrerit ac.</p>
      </div>
      <div class="info">
        <div class="item">
          <div class="relative orange">
            <div class="absolute">
              <q class="quote">Morbi vitae massa id tortor luctus consectetur id a sapien. Etiam feugiat fringilla lectus.</q>
            </div>
          </div>
          <p class="client" style="color:black;"><span class="name">Name A.</span> | Location</p>
        </div>
        <div class="item">
          <div class="relative green">
            <div class="absolute">
              <q class="quote">Morbi vitae massa id tortor luctus consectetur id a sapien. Etiam feugiat fringilla lectus.</q>
            </div>
          </div>
            <p class="client" style="color:black;"><span class="name">Name B.</span> | Location</p>
        </div>
        <div class="item">
          <div class="relative orange">
            <div class="absolute">
              <q class="quote">Morbi vitae massa id tortor luctus consectetur id a sapien. Etiam feugiat fringilla lectus.</q>
            </div>
          </div>
          <p class="client" style="color:black;"><span class="name">Name C.</span> | Location</p>
        </div>
        <div class="item">
          <div class="relative green">
            <div class="absolute">
              <q class="quote">Morbi vitae massa id tortor luctus consectetur id a sapien. Etiam feugiat fringilla lectus.</q>
            </div>
          </div>
          <p class="client" style="color:black;"><span class="name">Name D.</span> | Location</p>
        </div>
      </div>
    </div>
  </section>


<!--
  <div class="container">
    <h1 class="fs-1"> Welcome to <strong>BorrAPet</strong>!</h1>
    <p class="fs-4">If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
    <div class="index-button"><%= link_to "View all pets", pets_path %></div>
  </div>
-->
