<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>); margin-top: -30px;">

  <div class="container">
    <div class="text-flex">
      <h1 class="fs-1"> Welcome to <strong>BorrAPet</strong>!</h1>
      <p class="fs-4">If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
      <div class="index-button"><%= link_to "View all pets", pets_path %></div>
    </div>
  </div>
</div>

<section class="about" id="about">
  <div class="container">
    <div class="headline">
      <h2 class="fs-1">About BorrAPet</h2>
      <p class="sub-text fs-5">Sed blandit felis in nisl lacinia, vel aliquam neque ornare. Proin purus ex, sodales at eleifend sed, iaculis at justo.</p>
    </div>
    <div class="content">
      <div class="text-container-flex">
        <div class="item">
          <div class="description">
            <h3 class="fs-2">Something</h3>
            <p class="fs-5">Ut tincidunt suscipit porttitor. Donec nec odio et magna auctor semper. In semper elit eu nisl tristique mattis.</p>
          </div>
        </div>
        <div class="item">
          <div class="description">
            <h3 class="fs-2">Something</h3>
            <p class="fs-5">Ut tincidunt suscipit porttitor. Donec nec odio et magna auctor semper. In semper elit eu nisl tristique mattis.</p>
          </div>
        </div>
        <div class="item">
          <div class="description">
            <h3 class="fs-2">Something</h3>
            <p class="fs-5">Ut tincidunt suscipit porttitor. Donec nec odio et magna auctor semper. In semper elit eu nisl tristique mattis.</p>
          </div>
        </div>
        <div class="item">
          <div class="description">
            <h3 class="fs-2">Something</h3>
            <p class="fs-5"> Ut tincidunt suscipit porttitor. Donec nec odio et magna auctor semper. In semper elit eu nisl tristique mattis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="reviews" id="reviews">
  <div class="container">
    <div class="headline">
      <h2 class="text-center fs-1">BorrAPet Reviews</h2>
      <p style="color:black;" class="text-center sub-text fs-5">Curabitur consequat erat in fermentum rutrum. Phasellus consequat cursus purus. Etiam consectetur facilisis sapien, in aliquet tortor hendrerit ac.</p>
    </div>
    <div class="info">
      <div class="item">
        <div class="relative orange">
          <div class="absolute">
            <q class="quote fs-5">This shouldn't even be possible. Show us the science. Where is the science? We need the science.</q>
          </div>
        </div>
        <p class="client" style="color:black;"><span class="name">London Natural History Museum</span></p>
      </div>
      <div class="item">
        <div class="relative green">
          <div class="absolute">
            <q class="quote fs-5">I thought some of these were extinct... </q>
          </div>
        </div>
          <p class="client" style="color:black;"><span class="name">Name B.</span></p>
      </div>
      <div class="item">
        <div class="relative orange">
          <div class="absolute">
            <q class="quote fs-5">Morbi vitae massa id tortor luctus consectetur id a sapien. Etiam feugiat fringilla lectus.</q>
          </div>
        </div>
        <p class="client" style="color:black;"><span class="name">Name C.</span></p>
      </div>
      <div class="item">
        <div class="relative green">
          <div class="absolute">
            <q class="quote fs-5">Morbi vitae massa id tortor luctus consectetur id a sapien. Etiam feugiat fringilla lectus.</q>
          </div>
        </div>
        <p class="client" style="color:black;"><span class="name">Name D.</span></p>
      </div>
    </div>
  </div>
</section>

<section class="subscribe" id="subscribe">
  <div class="container subscribe-flex">
    <div class="headline">
      <h2 fs-1">Create an account and have fun with one of our many pets!</h2>
      <p class="sub-text fs-5"">Curabitur consequat erat in fermentum rutrum. Phasellus consequat cursus purus. Etiam consectetur facilisis sapien, in aliquet tortor hendrerit ac.</p>
    </div>
    <div class="index-button"><%= link_to "Create account", new_user_registration_path %></div>
  </div>
</section>



<!--
  <div class="container">
    <h1 class="fs-1"> Welcome to <strong>BorrAPet</strong>!</h1>
    <p class="fs-4">If you're a busy professional or someone that loves animals but don't have your own, BorrAPet is the platform for you!</p>
    <div class="index-button"><%= link_to "View all pets", pets_path %></div>
  </div>
-->
