.index-button a {
  color: white;
  font-size: larger;
  font-weight: 400;
  text-decoration: none;
  background-color: #B57945;
  padding-inline: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.index-button:hover {
  // text-decoration: none;
  color: white;
}
