.index-button a {
  color: white;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  background-color: #B57945;
  padding: 12px 20px;
  border-radius: 4px;
}

.index-button:hover {
  // text-decoration: none;
  color: white;
}
