.footer-container {
  background-color: #41322B;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  font-size: 18px;
  margin: 0 8px;
  text-align: center;
  color: #F3EBE6;
}

.footer-link {
  text-decoration: none;
  color: #F3EBE6;
}

.footer-link:hover {
  color: #4B7246;
  text-decoration: underline;
}

.green-heart {
  color: #4B7246;
}
