@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.dog-container {
  font-size: 24px;
}

.dog-container:hover .dog-icon {
  animation: bounce 0.3s ease-in-out;
  cursor: pointer;
}
