.show-container {
  display: flex;
  flex-direction: column;
}

.top-a {
  margin: 0;
  flex: 1;
}

.show-pic {
  display: flex;
  flex: 1;
  padding-right: 24px;
  img {
    border-radius: 30px;
    border-color: #b57945;
  }
}

.form-playdates {
  width: 600px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 6px;
  background: #FFF;
  border: none;
  position: relative;
}

.fa-images {
  font-size: 30px;
}
