<h1>Your PlayDates</h1>
<br>
<% if @play_dates.nil? %>
  <p>You don't have any playdates...</p>
  <% else %>
    <ul>
    <% @play_dates.each do |play_date| %>
    <li><%= play_date.start_time %> <%= play_date.end_time %>
    <%= play_date.pet.name %>
    <% end %>
  </ul>
<% end %>
<div class="btn btn-outline-success index-button"><%= link_to "Back to all pets", pets_path %></div>
